.logout-btn{
    float: right;
    right: 25px;
    position: absolute;
    cursor: pointer;
}

nav ul li a{
    color: whitesmoke !important;
}

nav ul li a:hover{
    color: blueviolet !important;
}
