.callTabsDesign {
  border-bottom: 2px solid #c5d5f3;
  // margin-bottom: 15px;
  .nav-link {
    span {
      color: #4e4e4e;
      font-size: 15px;
      font-weight: 500;
    }
  }
  .nav-link.active {
    background: #005a9f;
    border-radius: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    span {
      color: white !important;
    }
  }
}
