.topBarCardDesign {
  box-shadow: none !important;
  border-radius: 6px !important;
  padding: 0px 16px;
  .user_first_letter {
    h2 {
      background: linear-gradient(
        209.19deg,
        #51ffff 19.35%,
        #4da8da 55.36%,
        #007cc7 92.49%
      );
      padding: 3px 11px;
      font-size: 24px;
      color: white;
      border-radius: 100%;
      margin-right: 6px;
    }
  }
  .user_info {
    h3 {
      font-size: 16px;
      font-weight: 600;
      margin: 10px 0px 0px;
      color: #4e4e4e;
    }
    h4 {
      color: #646464;
      font-size: 12px;
      margin: 0px 3px;
    }
  }
  .header_btn {
    text-align: right;
    padding-top: 14px;
    button {
      margin-left: 5px;
    }
    .link_design {
      background: #4da8da;
      border-radius: 6px;
      padding: 2px 25px 6px;
      margin-left: 5px;
      text-decoration: none;
      color: #fff;
    }
  }
}
