.selectFieldDesign {
  border: none !important;
  border-bottom: 1px solid #c5d5f3 !important;
  font-size: 16px;
  font-weight: 400;
  color: #4e4e4e;
  svg {
    margin-top: -11px;
  }
}
.selectFieldDesign.css-wmw4vi-ReactDropdownSelect:focus,
.selectFieldDesign.css-wmw4vi-ReactDropdownSelect:focus-within {
  border-bottom: 2px solid rgb(77, 168, 218) !important;
  box-shadow: none !important;
}
