.selectCompanyDesign {
    width: 400px;
    // padding: 15px 20px;
    border: 1px solid #c5d5f3;
    border-radius: 6px;
   .card-body {
     padding: 0px;
     min-height: 22px;
     max-height: 90px;
     overflow-x: hidden;
     overflow-y: visible;
    .sellectCompanyData {
      display: flex;
      padding: 0px 17px;
      img {
        width: 20px;
        height: 20px;
      }
      p {
        font-size: 14px;
        color: #4e4e4e;
        margin-left: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 18px;
      }
    }
   }
    .card-header {
      background: #fff;
      border: none;
      border-radius: 6px;
      margin-bottom: 6px;
    }
    .card-footer {
      background: #fff;
      border: none;
      border-radius: 6px;
      padding: 10px 10px 14px;
    }
    h2 {
      font-size: 18px;
      color: #4e4e4e;
      text-align: left;
      margin-top: 0px;
      margin-bottom: 3px;
    }
    .underlineDesign {
      height: 2px;
      background: #005a9f;
      width: 140px;
    }
    button.closeBtn {
      position: absolute;
      width: 30px !important;
      top: 18px;
      left: -30px;
      background: #005a9f;
      padding: 0px;
      border: none;
      min-width: 30px;
      border-radius: 0px;
      height: 22px;
      .MuiButton-startIcon {
        margin-right: -2px;
      }
      svg {
        font-size: 17px;
      }
      &:hover {
        background: #005a9f;
        border: none;
      }
    }
    .arrowShape {
      top: 18px;
      left: -38px;
      cursor: pointer;
      width: 0;
      height: 0;
      border-right: 8px solid #005a9f;
      border-top: 11.2px solid transparent;
      border-bottom: 11px solid transparent;
      position: absolute;
    }
  }