/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#sidebar{
  position: fixed;
}

ul{
  list-style: none;
}

ul li a{
  font-size: 16px;
  text-decoration: none;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.username{
  padding-left: 1rem;
}
$medium: 992px;
@media screen and (max-width: $medium) {
  #sidebar{
    position: relative !important;
  }
  .username{
    padding-left: unset;
  }
  
}

$small: 768px;

@media screen and (max-width: $small) {
  .username{
    text-align: center;
  }
  
}